#big-img {
    background-image: url(..//img/Big_Image.png);
    height: 941px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.fa-facebook-f {
    color: #000;
}

.fa-facebook-f:hover {
    color: #3b5998 !important;
}

.fa-twitter {
    color: #000;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-youtube {
    color: #000;
}

.fa-youtube:hover {
    color: #ff0000 !important;
}

.big-img {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;


}

.btn-outline-secondary {
    background: #fff;
    color: #000;
    border: 0;
}

.btn-outline-secondary:hover {
    background: #fff;
    color: #000;
    border: 0;

}

.btn-searh {
    background: #c01f2f;
    color: #fff;
}

.toggle .dropdown-toggle::after {
    margin-left: 50px;
    margin-right: 20px;
}

.teg {
    display: flex;
    justify-content: center;
}

.teg p {
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    float: left;
    padding-left: 10px;
    margin-top: 35px;
}

.count {
    position: relative;

}

.counter {
    background: #fff;
    position: absolute;
    top: -30px;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 1);
}

.counter-icon {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.counter-icon .fa-2x {
    font-size: 3rem;
}

.counter-text {
    float: left;
    margin-top: 10px;
}

.counter-text p {
    margin-bottom: 0px;
    font-size: 30px;
    font-family: "Myriad Pro";
    color: rgb(51, 51, 51);
    line-height: 1;

}

.counter-text span {
    margin-bottom: 0;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(51, 51, 51);
    line-height: 2.143;
}

.slider-header {
    margin-top: 180px;
    text-align: center;

}

.slider-header p {
    font-size: 30px;
    font-family: "Myriad Pro";
    color: rgb(44, 62, 80);
    line-height: 1.2;
    margin-bottom: 0;

}

.slider-header span {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(44, 62, 80);
    line-height: 1.2;

}

.bg {
    background-image: url(..//img/bg.png);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 150px;
    -webkit-background-size: contain;
    background-size: contain;
    padding-top: 50px;

}

.bg p,
.bg a {
    color: #fff;
    width: 70%;
    margin-left: 130px;
}

.text-bg {
    font-size: 30px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}

.body-bg {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    line-height: 1.857;
    text-align: left;
}

.bg-1 {
    background-image: url(..//img/Layer.png);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 110px;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: right;
    right: 140px;

}

.link-bg {
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #c01f2f;
}

.nav-item a {
    background-color: #535353;
    color: #fff;
}



.tab-header span {
    font-size: 13px;
    font-family: "Poppins";
    color: rgb(255, 38, 38);
    line-height: 1.2;
}

.tab-header p {
    font-size: 16px;
    font-family: "Poppins";
    color: rgb(44, 62, 80);
    font-weight: bold;
    line-height: 1.2;
}

.tab-header p > sup {
    font-size: 11px;
    font-family: "Poppins";
    color: rgba(44, 62, 80, 0.8);
    line-height: 1.2;
}

.info-icon-text .left {
    font-size: 13px;
    font-family: "Poppins";
    color: rgb(44, 62, 80);
    line-height: 1.2;
    margin-right: 25px;
    float: left;

}


.tag {
    float: left;
}

.tag-icon {
    text-align: right;
}


.hashtag p {
    font-size: 13px;
    font-family: "Myriad Pro";
    color: rgb(44, 62, 80);
    line-height: 1.2;
    -moz-transform: matrix(0.99886846022547, 0, 0, 0.99298816872624, 0, 0);
    -webkit-transform: matrix(0.99886846022547, 0, 0, 0.99298816872624, 0, 0);
    -ms-transform: matrix(0.99886846022547, 0, 0, 0.99298816872624, 0, 0);
}

.cerd-tab {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 25px 25px 0;
    margin-top: 15px;
}

.line {
    border-left: 1.3px solid #dbdbdb;
    margin: 0 3px;

}

.mobail {
    background-image: url(..//img/Layer2.png);
    height: 600px;
    background-repeat: no-repeat;
    left: 180px;

}

.bg2 {
    background-image: url(..//img/bg1.png);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 150px;
    -webkit-background-size: contain;
    background-size: contain;

}

.bg2 p {
    margin-left: 250px;
    padding-top: 50px;
    font-size: 30px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}

.img-app {
    margin-top: 25px;
    margin-left: 250px;
}

.card-btn {
    position: absolute;
    margin: 15px 0 0px 15px;
}

.card-title {
    font-size: 16px;
    font-family: "Poppins";
    color: rgb(44, 62, 80);
    font-weight: bold;
    line-height: 1.563;
}

.card-body p > span {
    font-size: 12px;
    font-family: "Myriad Pro";
    color: #1abc9c;
    line-height: 1.2;
    text-align: center;
}


.card-body p {
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(44, 62, 80);
    line-height: 1.2;
}

.link-card {
    color: #2c3e50;
}

.header {
    font-size: 30px;
    font-family: "Poppins";
    color: rgb(44, 62, 80);
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

.header-title {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(44, 62, 80);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 35px;
}

#footer {
    background: #272727;
    padding-top: 100px;
    padding-bottom: 50px;
}

#footer p {
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

#footer li {
    list-style-type: none;
    color: #fff;
}

#footer li a {
    font-size: 14px;
    font-family: "Poppins";
    color: rgba(255, 255, 255, 0.702);
    line-height: 2.857;
}

li a:hover {
    color: rgba(180, 180, 180, 0.7);
    text-decoration: none;
}

.footer-icon-radius {
    background: #3a3a3a;
    height: 35px;
    width: 35px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    float: left;
    margin: 0 3px;
}









@media (min-width: 576px) {
    ...
}


@media (max-width: 768px) {
    ul {
        text-align: center;
    }

    .footer-icon a {
        display: inline-flex;
        justify-content: center;

    }

}


@media (max-width: 992px) {
    .bg {
        background-size: cover;
        padding-top: 80px;
        margin-bottom: 30px;

    }

    .bg2 {
        background-image: none;
        background: #c01f2f;
        height: 300px;
        width: 100%;
        background-repeat: no-repeat;
        margin-top: 150px;
        background-size: cover;

    }

    .bg2 p {
        margin-left: 0px;
        text-align: center;
        padding-top: 50px;
        font-size: 30px;
        font-family: "Poppins";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
    }

    .img-app {
        margin-top: 25px;
        margin-left: 00px;
        text-align: center;
    }

    .bg p,
    .bg a {
        color: #fff;
        width: 70%;
        margin-left: 50px;
    }

}


@media (max-width: 1200px) {

    .bg-1,
    .mobail {
        display: none;
    }
}


/*++++++++++++++++++++++++++++++++++++++++++++++================================================================================*/
#about1 {
    background-image: url(https://fakeimg.pl/1920x279/);
    height: 279px;
    display: flex;
    align-items: center;
}

#about1 p {
    font-size: 48px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.breadcrumb {
    background: hsl(0, 0%, 0%, 0);
    font-size: 16px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding: 0;
}


.breadcrumb .active {
    font-size: 16px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.breadcrumb-item a {
    font-size: 16px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgb(255, 255, 255);
}

#about_body {
    background: #f6f7f9;
    padding: 100px 0;
}

.about_body_header {
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(44, 62, 80);
    line-height: 1.2;
    font-weight: 500;
}

.about_body_text {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(44, 62, 80);
    line-height: 1.857;
}

.vidio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.body_icon {
    border: 2px solid #dbdbdb;
    width: 100px;
    height: 100px;
    font-size: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    float: left;
    margin-right: 15px;
    color: #2c3e50;
}

.about_body_icon {
    margin-bottom: 15px;
}

.about_body_icon p {
    margin-bottom: 0;
    font-size: 16px;
    font-family: "Poppins";
    color: rgb(44, 62, 80);
    font-weight: 600;
    padding-top: 10px;
}

.about_body_icon span {
    font-size: 14px;
    font-family: "Poppins";
    color: rgba(44, 62, 80, 0.702);

}

#block3 {
    background-image: url(https://fakeimg.pl/1920x437/);
    min-height: 437px;
    display: flex;
    text-align: center;
    align-items: center
}

#block3 p {
    font-size: 48px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-weight: 500
}

#block3 span {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
}

.btn-danger {
    background: #c01f2f;
}




















































